<section class="row">
  <% if @groups.any? %>
    <ul>
      <% @groups.each do |group| %>
        <li><%= group.name %> - <%= link_to "View", group %></li>
      <% end %>
    </ul>
  <% else %>
    <div class="row">
      <p>You have no groups yet!</p>
    </div>
  <% end %>
</section>
