<h2>Group - <%= @group.name %></h2>

<div id="join-token" class="row">
  <p><strong>Token:</strong> <%= @group.join_token %></p>
  <p>Give this token to your friends so they can join your group!</p>
</div>
