<h2>Group - <%= @group.name %></h2>

<div id="join-token" class="row">
  <%= @group.join_token %>
</div>

<div id="join-url" class="row">
  <%= new_membership_url %>?token=<%= @group.join_token %>
</div>
