<% if !!current_user %>
  <div class="row">
    <%= link_to "Your groups", groups_path, :class => 'large radius button' %>
  </div>
<% else %>
  <div class="row">
    <%= link_to "Sign in", login_path,  :class => 'large radius button' %>
  </div>
  <div class="row">
    <%= link_to "Sign up", signup_path, :class => 'large radius button' %>
  </div>
<% end %>
